<div id="main">
    <div>
        <h1>Modify screenplay</h1>
        <div>
            {{#if isLoggedIn}}
                {{#if isAdmin}}
                    <form action="/screenplays/update/{{play.playid}}" method="POST">
                        <fieldset>
                                <label for="playname">Screenplay name: </label>
                                <input type="text" name="playname" id="playname" value="{{play.playname}}" required="required">
                            <br />
                                <label for="playyear">Screenplay year: </label>
                                <input type="number" name="playyear" id="playyear" placeholder="2023" value="{{play.playyear}}" required="required">
                            <br />
                                <textarea name="playdesc" id="playdesc" cols="30" rows="10" required="required">{{play.playdesc}}</textarea>
                            <br />
                            <label for="projtype">Project type: </label>
                                <input type="text" name="playgenre" id="playgenre" value="{{play.playgenre}}" required="required">
                            <br />
                        </fieldset>
                        <input type="submit" value="Modify Screenplay">
                    </form>
                {{else}}
                    <p>Sorry, you must be an administrator to modify a screenplay!</p>
                {{/if}}
            {{else}}
                <p>
                    Sorry, you must be logged in to modify a screenplay!<br />
                    Please go to the <a href="/login">login</a> page.
                </p>
            {{/if}}
        </div>
    </div>
</div>